<form [formGroup]="testForm">

  <h4>Value: {{ testForm.get('comment').value }}</h4>
  <h4>Touched: {{ testForm.get('comment').touched }}</h4>
  <h4>Dirty: {{ testForm.get('comment').dirty }}</h4>
  <h4>Error: {{ testForm.get('comment').hasError('required') }}</h4>

  <app-numberer formControlName="count"></app-numberer>
  <app-bool-toggle formControlName="bool"></app-bool-toggle>
  <app-input-comment formControlName="comment" placeHolder="This is the placeholder"></app-input-comment>
  <app-styled-select></app-styled-select>
</form>

<hr />

<pre>{{ testForm.value | json }}</pre>


<router-outlet></router-outlet>